.navbar{
     background-color: #FE5000;
     color: #000;
    
}



#pricing{
    padding-top: 100px;
    color:purple;
    padding-bottom: 100px;

}

#receipe{
    padding-bottom: 90px;

}

h4{
    
    padding-bottom: 30px;
}

#receipe-card{
    padding-left: 90px;
    
}

#explore{
    color: red;
    font-size: 20px;
}

#card1{
    border: none;
}



.header-text{
    padding-left: 40px;
}
.my-class{
    background-color:blue;
    padding-bottom: 300px;
    color: white;
}

#better{
    padding-top: 50px;
}

#Better-World{
    padding-top: 40px;
}

#navcolour{
    color: #000;
}

#footerr{
    background-color:rgba(252, 11, 11, 0.932);
    color: yellow;
    padding-bottom: 100px;
}



.container{
    padding-bottom: 100px;
    
    
}

#maaggi{
    padding-bottom: 200px;
}



#insta{
    padding-top: 20px;
}